/AppBotPortal
/AppBotPortal/MSIXPackages
/AppBotPortal/NewMSIXPackages
/AppBotPortal/NewMSIXPackages_v1
/MSIX-Toolkit
/src/MSIX-Toolkit
/src/MSIXPSF
/DebugView
/MSIXPSF
/DebugView
/Test
workspace.code-workspace