/AppBotPortal
/src/Libs/MSIXPackaging
/src/Libs/MSIXCore
/src/MSIXPSF
/MsixContextMenuHandler
/MsixModernContextMenuHandler
/DebugView
/DebugView
/Trash
/Test
/.vscode
workspace.code-workspace
CLAUDE.md
Project.md
.claude/

